*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    font-size: clamp(40%, 1 + 2vw, 62.5%);
    --white: #fff;
    --gray-600: #323238;
    --gray-200: #E1E1E6;
    --blue-200: #02799D;

}
body{
    height: 100vh;
    width: 100%;
    color: var(--gray-600);
    overflow: hidden;
    display: grid;
    align-items: center;
}
main{
    margin-top: -5rem;
    display: flex;
    justify-content: center;
    gap: 12rem;
    align-items: center;

}
.sr-only{
    height: 1px;
    width: 1px;
    position: absolute;
    visibility: hidden;
    padding: 0;
    margin: -1px;
    border: 0;
    appearance: none;

}
#timer{
    font-size: 8.5rem;
    font-weight: bold;
    font-family: sans-serif;
}
#timer-controller{
    display: flex;
    justify-content: space-between;
}
#timer-controller button{
    margin-top: 4.8rem;
    font-size: 4.6rem;
    background: none;

}
#background-sounds{
    display: grid;
    gap: 3.2rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
button{
    border: none;
    cursor: pointer;
}
#background-sounds button{
    border-radius: 2.4rem;
    font-size: 5.3rem;
    height: 12rem;
    width: 10rem;

}
.running .ph-play-circle,
.running .ph-timer,
html:not(.running) .ph-pause-circle,
html:not(.running) .ph-stop-circle
{
    display: none;
}
.selected{
    background-color: var(--blue-200);
    color: var(--white);
}
.selected:hover{
    filter: saturate(.75);
}